<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IP" value="127.0.0.1"></add>
    <add key="Port" value="80"></add>
    <add key="Redirect" value="http://google.com/?q=test"></add>
  </appSettings>
</configuration>